.sidebar-item {
  border: none;
  padding: 10px 0;
}

.sidebar-icon {
  font-size: 24px;
  width: 24px;
}

.sidebar {
  width: 15%;
  float: left;
  position: absolute;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 30px;
  font-size: 13px;
}

.sidebar > .nav > li > a:hover, .sidebar > li > a:hover, .sidebar > .nav > li.active > a, .sidebar > li.active > a {
  color: #000;
}

.sidebar > .nav > li > a, .sidebar > li > a {
  background: none;
  text-decoration: none;
  color: #565656;
}

.sidebar-text {
  margin-left: 10px;
}
